<nav class="navbar">
    <div class="container">
      <button type="button" class="btn" data-bs-toggle="popover" title="Popover title" 
      data-bs-content="And here's some amazing content. It's very engaging. Right?">
      <svg class="bi" width="32" height="32" fill="grey">
        <use xlink:href="/assets/bootstrap-icons.svg#list"/>
      </svg>
      Explore
      <a class="navbar-brand" href="#">
        <img src="/assets/allRecipes-logo.jfif" alt="" width="127" >
      </a>
    </button>
    
      

      
      <div class="dropdown">
        <button class="btn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          <svg class="bi" width="33" height="24" fill="grey">
            <use xlink:href="/assets/bootstrap-icons.svg#person-circle"/>
          </svg> Join Now |
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          Account
          <li><a class="dropdown-item" href="#">Join Now</a></li>
          <li><a class="dropdown-item" href="#">Newsletters</a></li>
          <li><a class="dropdown-item" href="#">Help</a></li>
          More
          <li><a class="dropdown-item" href="#">Shopping List</a></li>
          <li><a class="dropdown-item" href="#">Cooking School</a></li>
          <li><a class="dropdown-item" href="#">Ask teh Community</a></li>
        </ul>
        <button class="btn" type="submit">Login</button>
      </div>
      
    </div>
  </nav>

  