<form class="d-flex">
    <input class="form" type="search" placeholder="Find a Recipe" aria-label="Search">
    <button class="btn" type="submit" style="background-color: rgb(255, 100, 0)"><svg class="bi" width="32" height="32" fill="white" style="background-color: rgb(255, 100, 0)">
        <use xlink:href="/assets/bootstrap-icons.svg#search"/>
      </svg></button>
  </form>
  <nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/assets/AirFryer.jfif" alt="" width="30" class="d-inline-block align-text-top">
      <h6>Air Fryer Recipes</h6>
    </a>
    <a class="navbar-brand" href="#">
      <img src="/assest/Appetizers.jfif" alt="" width="30" height="24" class="d-inline-block align-text-top">
      <h6>Appetizers and Snacks</h6>
    </a>
    <a class="navbar-brand" href="#">
      <img src="/assets/Breakfast.jfif" alt="" width="30" height="24" class="d-inline-block align-text-top">
      <h6>Breakfast and Brunch Recipes</h6>
    </a>

    <a class="navbar-brand" href="#">
      <img src="/assets/Chicken.jfif" alt="" width="30" height="24" class="d-inline-block align-text-top">
      <h6>Chicken Recipes</h6>
    </a>

    <a class="navbar-brand" href="#">
      <img src="/assets/Cookies.jfif" alt="" width="30" height="24" class="d-inline-block align-text-top">
      <h6>Cookies</h6>
    </a>
    <a class="navbar-brand" href="#">
      <img src="/assets/Dessert.jfif" alt="" width="30" height="24" class="d-inline-block align-text-top">
      <h6>Dessert Recipes</h6>
    </a>
=
    <a class="navbar-brand" href="#">
      <img src="/assets/GroundBeef.jfif" alt="" width="30" height="24" class="d-inline-block align-text-top">
      <h6>Ground Beef Recipes</h6>
    </a>

    <a class="navbar-brand" href="#">
      <img src="/assets/InstantPot.jfif" alt="" width="30" height="24" class="d-inline-block align-text-top">
      <h6>Instant Pot Recipes</h6>
    </a>
  </div>
</nav>