<nav class="navbar navbar-light bg-light" style="background-color: #f5f6ea;">
  <div class="container-fluid">
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Find a Recipe" aria-label="Search" size="50">
      <button class="btn" type="submit" style="background-color: #d54215">
        <svg class="bi" width="24" height="24"
          fill="white" style="background-color: #d54215">
          <use xlink:href="/assets/bootstrap-icons.svg#search" />
        </svg>
      </button> <!-- Adds the button to search using an image from bootstrap -->
    </form> <!-- Creates the search bar -->
    <div id="carouselExampleControls" class="carousel slide-active" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item-active">
          <div class="col-md-12 bg-light text-right">
            <a routerLink="recipes-airfryer" class="navbar-brand" href="#">
              <img src="/assets/AirFryer.jfif" alt="" width="72" class="d-inline-block align-text-bottom">
              <p>Air Fryer <div><p>Recipes</div>
            </a> <!-- Adds the image and text for a button -->
            <a routerLink="recipes-snacks" class="navbar-brand" href="#">
              <img src="/assets/Appetizers.jfif" alt="" width="72" height="72" class="d-inline-block align-text-top">
              <p>Appetizers and <div><p>Snacks</p></div>
            </a> <!-- Adds the image and text for a button -->
            <a routerLink="recipes-breakfast" class="navbar-brand" href="#">
              <img src="/assets/Breakfast.jfif" alt="" width="72" height="72" class="d-inline-block align-text-top">
              <p>Breakfast and <div><p>Brunch Recipes</p></div>
            </a> <!-- Adds the image and text for a button -->
            <a  routerLink="recipes-chicken" class="navbar-brand" href="#">
              <img src="/assets/Chicken.jfif" alt="" width="72" height="72" class="d-inline-block align-text-top">
              <p>Chicken <div><p>Recipes</p></div>
            </a> <!-- Adds the image and text for a button -->
            <a routerLink="recipes-cookies" class="navbar-brand" href="#">
              <img src="/assets/Cookies.jfif" alt="" width="72" height="72" class="d-inline-block align-text-top">
              <p>Cookies</p>
            </a> <!-- Adds the image and text for a button -->
            <a routerLink="recipes-dessert" class="navbar-brand" href="#">
              <img src="/assets/Dessert.jfif" alt="" width="72" height="72" class="d-inline-block align-text-top">
              <p>Dessert Recipes</p>
            </a> <!-- Adds the image and text for a button -->
            <a class="navbar-brand" href="#">
              <img src="/assets/GroundBeef.jfif" alt="" width="72" height="72" class="d-inline-block align-text-top">
              <p>Ground Beef <div><p>Recipes</p></div>
            </a> <!-- Adds the image and text for a button -->
            <a class="navbar-brand" href="#">
              <img src="/assets/InstantPot.jfif" alt="" width="72" height="72" class="d-inline-block align-text-top">
              <p>Instant Pot <div><p>Recipes</p></div>
            </a> <!-- Adds the image and text for a button -->
          </div> <!-- End of column container -->
        </div> <!-- End of first carousel image -->
        <div class="carousel-item">
          <a class="navbar-brand" href="#">
            <img src="/assets/Cookies.jfif" alt="" width="72" height="72" class="d-inline-block align-text-top">
            <p>Cookies</p>
          </a> <!-- Adds the image and text for a button -->
          <a class="navbar-brand" href="#">
            <img src="/assets/Dessert.jfif" alt="" width="72" height="72" class="d-inline-block align-text-top">
            <p>Dessert Recipes</p>
          </a> <!-- Adds the image and text for a button -->
          <a class="navbar-brand" href="#">
            <img src="/assets/GroundBeef.jfif" alt="" width="72" height="72" class="d-inline-block align-text-top">
            <p>Ground Beef <div><p>Recipes</p></div>
          </a> <!-- Adds the image and text for a button -->
          <a class="navbar-brand" href="#">
            <img src="/assets/InstantPot.jfif" alt="" width="72" height="72" class="d-inline-block align-text-top">
            <p>Instant Pot <div><p>Recipes</p></div>
          </a> <!-- Adds the image and text for a button -->
          <a class="navbar-brand" href="#">
            <img src="/assets/Main Dish.jfif" alt="" width="72" height="72" class="d-inline-block align-text-top">
            <p>Instant Pot <div><p>Recipes</p></div>
          </a> <!-- Adds the image and text for a button -->
          <a class="navbar-brand" href="#">
            <img src="/assets/Quick Easy Recipes.jfif" alt="" width="72" height="72" class="d-inline-block align-text-top">
            <p>Instant Pot <div><p>Recipes</p></div>
          </a> <!-- Adds the image and text for a button -->
          <a class="navbar-brand" href="#">
            <img src="/assets/Slow Cooker.jfif" alt="" width="72" height="72" class="d-inline-block align-text-top">
            <p>Instant Pot <div><p>Recipes</p></div>
          </a> <!-- Adds the image and text for a button -->
          <a class="navbar-brand" href="#">
            <img src="/assets/Soups Stews Chili.jfif" alt="" width="72" height="72" class="d-inline-block align-text-top">
            <p>Instant Pot <div><p>Recipes</p></div>
          </a> <!-- Adds the image and text for a button -->
        </div> <!-- End of second carousel image -->
      </div> <!-- End of carousel inner -->
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button> <!-- Left arrow for carousel -->
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button> <!-- Right arrow for carousel -->
    </div> <!-- End of carousel -->
  </div> <!-- ends the container for this nav bar -->
  <div> 
    <button type="button" class="btn">
      <p><u>SEARCH BY INGREDIENT</u></p>
    </button> <!-- Adds another button -->
  </div>
</nav> 


    
    
   
