<ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link"><u><small>Privacy Policy</small></u></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" ><u><small>Terms of Service</small></u></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" ><u><small>Ad Choices</small></u></a>
    </li>
    <li class="nav-item">
      <a class="nav-link "><u><small>California Do Not Sell</small></u></a>
    </li>
    <li class="nav-item">
        <a class="nav-link"><u><small>Web Accessibility</small></u></a>
      </li>
  </ul>