<div class="text-center"><img src="/assets/meredith-logo.png" alt="" width="104"></div> <!-- Adds logo -->
<div class="text-center">
  <p><small>Allrecipes is part of the Meredith Food Group. © Copyright 2022 Meredith Corporationthis link opens in a new tab. All Rights Reserved.</small></p>
</div> <!-- Adds copyright -->
<ul class="nav justify-content-center">
  <li class="nav-item">
     <a class="nav-link"><u><small>Privacy Policy</small></u></a>
  </li> <!-- Adds first link -->
  <li class="nav-item">
    <a class="nav-link" ><u><small>Terms of Service</small></u></a>
  </li><!-- Adds second link -->
  <li class="nav-item">
    <a class="nav-link" ><u><small>Ad Choices</small></u></a>
  </li><!-- Adds third link -->
  <li class="nav-item">
    <a class="nav-link "><u><small>California Do Not Sell</small></u></a>
  </li> <!-- Adds fourth link -->
  <li class="nav-item">
    <a class="nav-link"><u><small>Web Accessibility</small></u></a>
  </li> <!-- Adds fith link -->
</ul>