<div class="card" style="width: 18rem;" ps="2">
  <img src="/assets/Card1.jfif" class="card-img-top" alt="" width="200">
  <div class="card-body">
    <p class="card-text">10 Lemon Chicken Soup Recipes That Are Full of Citrus Flavor</p>
  </div>
</div>
<div class="card" style="width: 18rem;" ps="2">
    <img src="/assets/Card2.jfif" class="card-img-top" alt="" width="200">
    <div class="card-body">
      <p class="card-text">12 Pickled Beet Recipes To Make at Home</p>
    </div>
</div>
<div class="card" style="width: 18rem;">
    <img src="/assets/Card3.jfif" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title">How to Make Southern Shrimp and Grits</h5>
      <p class="card-text">This Lowcountry classic is the solution to your comfort food cravings.</p>
    </div>
</div>
  