<div class="card bd-callout bd-callout-info d-flex col-9">
    <div class="card-body">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a>Home ></a></li>
                <li class="breadcrumb-item" aria-current="page">Recipes ></li>
                <li class="breadcrumb-item" aria-current="page">Appetizers and Snacks</li>
            </ol>
        </nav>
        <h1 class="card-title elementFont__headline">Appetizers and Snacks</h1>
        <p class="card-text"> Perfect party appetizers made easy. See hundreds of tasty appetizers with photos, helpful
            reviews, and tips on how to make them.</p>
    </div>
</div>