<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="col-md-12 bg-light text-right">
        <a class="navbar-brand" href="#">
          <img src="/assets/appetizerNavbar1.jfif" alt="" width="72" class="d-inline-block align-text-bottom">
          <p>Antipasto</p>
        </a> <!-- Adds the image and text for a button -->
        <a class="navbar-brand" href="#">
          <img src="/assets/appetizerNavbar2.jfif" alt="" width="72" height="72" class="d-inline-block align-text-top">
          <p>Bacon Appetizers</p>
        </a> <!-- Adds the image and text for a button -->
        <a class="navbar-brand" href="#">
          <img src="/assets/appetizerNavbar3.jfif" alt="" width="72" height="72" class="d-inline-block align-text-top">
          <p>Bruschetta</p>
        </a> <!-- Adds the image and text for a button -->
        <a class="navbar-brand" href="#">
          <img src="/assets/appetizerNavbar4.jfif" alt="" width="72" height="72" class="d-inline-block align-text-top">
          <p>Canapes and Crostini</p>
        </a> <!-- Adds the image and text for a button -->
        <a class="navbar-brand" href="#">
          <img src="/assets/appetizerNavbar5.jfif" alt="" width="72" height="72" class="d-inline-block align-text-top">
          <p>Cheese Appetizers</p>
        </a> <!-- Adds the image and text for a button -->
        <a class="navbar-brand" href="#">
          <img src="/assets/appetizerNavbar6.jfif" alt="" width="72" height="72" class="d-inline-block align-text-top">
          <p>Chicken Wings</p>
        </a> <!-- Adds the image and text for a button -->
        <a class="navbar-brand" href="#">
          <img src="/assets/appetizerNavbar7.jfif" alt="" width="72" height="72" class="d-inline-block align-text-top">
          <p>Crab Cakes</p>
        </a> <!-- Adds the image and text for a button -->
        <a class="navbar-brand" href="#">
          <img src="/assets/appetizerNavbar8.jfif" alt="" width="72" height="72" class="d-inline-block align-text-top">
          <p>Crackers</p>
        </a> <!-- Adds the image and text for a button -->
        <a class="navbar-brand" href="#">
          <img src="/assets/appetizerNavbar9.jfif" alt="" width="72" height="72" class="d-inline-block align-text-top">
          <p>Deviled Eggs</p>
        </a> <!-- Adds the image and text for a button -->
        <a class="navbar-brand" href="#">
          <img src="/assets/appetizerNavbar10.jfif" alt="" width="72" height="72" class="d-inline-block align-text-top">
          <p>Dips and Spreads</p>
        </a> <!-- Adds the image and text for a button -->
        <a class="navbar-brand" href="#">
          <img src="/assets/appetizerNavbar14.jfif" alt="" width="72" height="72" class="d-inline-block align-text-top">
          <p>Guacamole</p>
        </a> <!-- Adds the image and text for a button -->
        <a class="navbar-brand" href="#">
          <img src="/assets/appetizerNavbar11.jfif" alt="" width="72" height="72" class="d-inline-block align-text-top">
          <p>Jalapeno Poppers</p>
        </a> <!-- Adds the image and text for a button -->
        <a class="navbar-brand" href="#">
          <img src="/assets/appetizerNavbar12.jfif" alt="" width="72" height="72" class="d-inline-block align-text-top">
          <p>Kids' Snacks</p>
        </a> <!-- Adds the image and text for a button -->
        <a class="navbar-brand" href="#">
          <img src="/assets/appetizerNavbar13.jfif" alt="" width="72" height="72" class="d-inline-block align-text-top">
          <p>Pasta Appetizers</p>
        </a> <!-- Adds the image and text for a button -->
      </div> <!-- End of column container -->
    </div> <!-- End of first carousel image -->
    <div class="carousel-item">
      <a class="navbar-brand" href="#">
        <img src="/assets/appetizerNavbar15.jfif" alt="" width="72" height="72" class="d-inline-block align-text-top">
        <p>Pastry Appetizers</p>
      </a> <!-- Adds the image and text for a button -->
      <a routerLink="recipes-waffles" class="navbar-brand" href="#">
        <img src="/assets/appetizerNavbar6.jfif" alt="" width="72" height="72" class="d-inline-block align-text-top">
        <p>Chicken Wings</p>
      </a> <!-- Adds the image and text for a button -->
      <a class="navbar-brand" href="#">
        <img src="/assets/appetizerNavbar7.jfif" alt="" width="72" height="72" class="d-inline-block align-text-top">
        <p>Crab Cakes</p>
      </a> <!-- Adds the image and text for a button -->
      <a class="navbar-brand" href="#">
        <img src="/assets/appetizerNavbar8.jfif" alt="" width="72" height="72" class="d-inline-block align-text-top">
        <p>Crackers</p>
      </a> <!-- Adds the image and text for a button -->
      <a class="navbar-brand" href="#">
        <img src="/assets/appetizerNavbar9.jfif" alt="" width="72" height="72" class="d-inline-block align-text-top">
        <p>Deviled Eggs</p>
      </a> <!-- Adds the image and text for a button -->
      <a class="navbar-brand" href="#">
        <img src="/assets/appetizerNavbar10.jfif" alt="" width="72" height="72" class="d-inline-block align-text-top">
        <p>Dips and Spreads</p>
      </a> <!-- Adds the image and text for a button -->
      <a class="navbar-brand" href="#">
        <img src="/assets/appetizerNavbar14.jfif" alt="" width="72" height="72" class="d-inline-block align-text-top">
        <p>Guacamole</p>
      </a> <!-- Adds the image and text for a button -->
      <a class="navbar-brand" href="#">
        <img src="/assets/appetizerNavbar11.jfif" alt="" width="72" height="72" class="d-inline-block align-text-top">
        <p>Jalapeno Poppers</p>
      </a> <!-- Adds the image and text for a button -->
      <a class="navbar-brand" href="#">
        <img src="/assets/appetizerNavbar12.jfif" alt="" width="72" height="72" class="d-inline-block align-text-top">
        <p>Kids' Snacks</p>
      </a> <!-- Adds the image and text for a button -->
      <a class="navbar-brand" href="#">
        <img src="/assets/appetizerNavbar13.jfif" alt="" width="72" height="72" class="d-inline-block align-text-top">
        <p>Pasta Appetizers</p>
      </a> <!-- Adds the image and text for a button -->
      <a class="navbar-brand" href="#">
        <img src="/assets/appetizerNavbar16.jfif" alt="" width="72" height="72" class="d-inline-block align-text-top">
        <p>Dill Pickles and Sweet Pickles</p>
      </a> <!-- Adds the image and text for a button -->
      <a class="navbar-brand" href="#">
        <img src="/assets/appetizerNavbar17.jfif" alt="" width="72" height="72" class="d-inline-block align-text-top">
        <p>Meatball Appetizers</p>
      </a> <!-- Adds the image and text for a button -->
      <a class="navbar-brand" href="#">
        <img src="/assets/appetizerNavbar18.jfif" alt="" width="72" height="72" class="d-inline-block align-text-top">
        <p>Mushroom Appetizers</p>
      </a> <!-- Adds the image and text for a button -->
      <a class="navbar-brand" href="#">
        <img src="/assets/appetizerNavbar19.jfif" alt="" width="72" height="72" class="d-inline-block align-text-top">
        <p>Olive Appetizers</p>
      </a> <!-- Adds the image and text for a button -->
      <a class="navbar-brand" href="#">
        <img src="/assets/appetizerNavbar20.jfif" alt="" width="72" height="72" class="d-inline-block align-text-top">
        <p>Party Mix</p>
      </a> <!-- Adds the image and text for a button -->
    </div> <!-- End of second carousel image -->
  </div> <!-- End of carousel inner -->
  <button class="carousel-control-prev" role="button" href="#carouselExampleControls" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </button> <!-- Left arrow for carousel -->
  <button class="carousel-control-next" role="button" href="#carouselExampleControls" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </button> <!-- Right arrow for carousel -->
</div> <!-- End of carousel -->