<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="col-md-12 bg-light text-right">
        <a class="navbar-brand" href="#">
          <img src="/assets/breakfastNavbar1.jfif" alt="" width="72" class="d-inline-block align-text-bottom">
          <p>Pancakes</p>
        </a> <!-- Adds the image and text for a button -->
        <a class="navbar-brand" href="#">
          <img src="/assets/breakfastNavbar2.jfif" alt="" width="72" height="72" class="d-inline-block align-text-top">
          <p>Breakfast Casseroles</p>
        </a> <!-- Adds the image and text for a button -->
        <a class="navbar-brand" href="#">
          <img src="/assets/breakfastNavbar3.jfif" alt="" width="72" height="72" class="d-inline-block align-text-top">
          <p>Breakfast Eggs</p>
        </a> <!-- Adds the image and text for a button -->
        <a class="navbar-brand" href="#">
          <img src="/assets/breakfastNavbar4.jfif" alt="" width="72" height="72" class="d-inline-block align-text-top">
          <p>Breakfast Quiche</p>
        </a> <!-- Adds the image and text for a button -->
        <a class="navbar-brand" href="#">
          <img src="/assets/breakfastNavbar5.jfif" alt="" width="72" height="72" class="d-inline-block align-text-top">
          <p>French Toast</p>
        </a> <!-- Adds the image and text for a button -->
        <a class="navbar-brand" href="#">
          <img src="/assets/breakfastNavbar6.jfif" alt="" width="72" height="72" class="d-inline-block align-text-top">
          <p>Waffles</p>
        </a> <!-- Adds the image and text for a button -->
        <a class="navbar-brand" href="#">
          <img src="/assets/breakfastNavbar7.jfif" alt="" width="72" height="72" class="d-inline-block align-text-top">
          <p>Smoothies</p>
        </a> <!-- Adds the image and text for a button -->
        <a class="navbar-brand" href="#">
          <img src="/assets/breakfastNavbar8.jfif" alt="" width="72" height="72" class="d-inline-block align-text-top">
          <p>Breakfast Bread</p>
        </a> <!-- Adds the image and text for a button -->
        <a class="navbar-brand" href="#">
          <img src="/assets/breakfastNavbar9.jfif" alt="" width="72" height="72" class="d-inline-block align-text-top">
          <p>Crepes and Blintzes</p>
        </a> <!-- Adds the image and text for a button -->
        <a class="navbar-brand" href="#">
          <img src="/assets/breakfastNavbar10.jfif" alt="" width="72" height="72" class="d-inline-block align-text-top">
          <p>Breakfast Burritos</p>
        </a> <!-- Adds the image and text for a button -->
        <a class="navbar-brand" href="#">
          <img src="/assets/breakfastNavbar11.jfif" alt="" width="72" height="72" class="d-inline-block align-text-top">
          <p>Breakfast Cereals</p>
        </a> <!-- Adds the image and text for a button -->
        <a class="navbar-brand" href="#">
          <img src="/assets/breakfastNavbar12.jfif" alt="" width="72" height="72" class="d-inline-block align-text-top">
          <p>Breakfast Cookies</p>
        </a> <!-- Adds the image and text for a button -->
        <a class="navbar-brand" href="#">
          <img src="/assets/breakfastNavbar13.jfif" alt="" width="72" height="72" class="d-inline-block align-text-top">
          <p>Breakfast Drinks</p>
        </a> <!-- Adds the image and text for a button -->
        <a class="navbar-brand" href="#">
          <img src="/assets/breakfastNavbar14.jfif" alt="" width="72" height="72" class="d-inline-block align-text-top">
          <p>Breakfast Bowls</p>
        </a> <!-- Adds the image and text for a button -->
      </div> <!-- End of column container -->
    </div> <!-- End of first carousel image -->
    <div class="carousel-item">
      <a class="navbar-brand" href="#">
        <img src="/assets/breakfastNavbar15.jfif" alt="" width="72" height="72" class="d-inline-block align-text-top">
        <p>Breakfast Sausage</p>
      </a> <!-- Adds the image and text for a button -->
      <a routerLink="recipes-waffles" class="navbar-brand" href="#">
        <img src="/assets/breakfastNavbar6.jfif" alt="" width="72" height="72" class="d-inline-block align-text-top">
        <p>Waffles</p>
      </a> <!-- Adds the image and text for a button -->
      <a class="navbar-brand" href="#">
        <img src="/assets/breakfastNavbar7.jfif" alt="" width="72" height="72" class="d-inline-block align-text-top">
        <p>Smoothies</p>
      </a> <!-- Adds the image and text for a button -->
      <a class="navbar-brand" href="#">
        <img src="/assets/breakfastNavbar8.jfif" alt="" width="72" height="72" class="d-inline-block align-text-top">
        <p>Breakfast Bread</p>
      </a> <!-- Adds the image and text for a button -->
      <a class="navbar-brand" href="#">
        <img src="/assets/breakfastNavbar9.jfif" alt="" width="72" height="72" class="d-inline-block align-text-top">
        <p>Crepes and Blintzes</p>
      </a> <!-- Adds the image and text for a button -->
      <a class="navbar-brand" href="#">
        <img src="/assets/breakfastNavbar10.jfif" alt="" width="72" height="72" class="d-inline-block align-text-top">
        <p>Breakfast Burritos</p>
      </a> <!-- Adds the image and text for a button -->
      <a class="navbar-brand" href="#">
        <img src="/assets/breakfastNavbar11.jfif" alt="" width="72" height="72" class="d-inline-block align-text-top">
        <p>Breakfast Cereals</p>
      </a> <!-- Adds the image and text for a button -->
      <a class="navbar-brand" href="#">
        <img src="/assets/breakfastNavbar12.jfif" alt="" width="72" height="72" class="d-inline-block align-text-top">
        <p>Breakfast Cookies</p>
      </a> <!-- Adds the image and text for a button -->
      <a class="navbar-brand" href="#">
        <img src="/assets/breakfastNavbar13.jfif" alt="" width="72" height="72" class="d-inline-block align-text-top">
        <p>Breakfast Drinks</p>
      </a> <!-- Adds the image and text for a button -->
      <a class="navbar-brand" href="#">
        <img src="/assets/breakfastNavbar14.jfif" alt="" width="72" height="72" class="d-inline-block align-text-top">
        <p>Breakfast Bowls</p>
      </a> <!-- Adds the image and text for a button -->
      <a class="navbar-brand" href="#">
        <img src="/assets/breakfastNavbar16.jfif" alt="" width="72" height="72" class="d-inline-block align-text-top">
        <p>Breakfast Bacon</p>
      </a> <!-- Adds the image and text for a button -->
      <a class="navbar-brand" href="#">
        <img src="/assets/breakfastNavbar17.jfif" alt="" width="72" height="72" class="d-inline-block align-text-top">
        <p>Breakfast Meat and Seafood</p>
      </a> <!-- Adds the image and text for a button -->
      <a class="navbar-brand" href="#">
        <img src="/assets/breakfastNavbar18.jfif" alt="" width="72" height="72" class="d-inline-block align-text-top">
        <p>Breakfast Potatoes</p>
      </a> <!-- Adds the image and text for a button -->
    </div> <!-- End of second carousel image -->
  </div> <!-- End of carousel inner -->
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button> <!-- Left arrow for carousel -->
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button> <!-- Right arrow for carousel -->
</div> <!-- End of carousel -->